build/
coverage/
data/
public/
!public/locales/

*.jpeg
*.jpg
*.png
*.gif
*.css
*.md
*.mdx
*.ico

**/__mocks__/*.json

docusaurus/.docusaurus/
docusaurus/**/*.js
docusaurus/build/
docusaurus/node_modules/
docusaurus/pages/index.tsx
docusaurus/plugins/
docusaurus/src/theme/ReactLiveScope/index.d.ts
